alembic~=1.11.1
anyio
astroid
async-timeout
asyncpg
black
celery~=5.3.1
Faker~=19.1.0
fastapi[all]~=0.100.0
fastapi-event
filelock
greenlet
gunicorn
poetry
pydantic[email]~=2.0.2
PyJWT~=2.7.0
pylint
pytest~=7.4.0
pytest-asyncio
python-dateutil
python-jose
pytz
redis~=4.6.0
requests
SQLAlchemy~=2.0.18
uvicorn~=0.22.0
pymysql
aiomysql
starlette~=0.27.0
contextvars~=2.4
passlib~=1.7.4
ujson~=5.8.0
aioredis
bcrypt
fastapi-pagination
httpx